<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/runtest">

  <label for="text">Text</label>
  <input type="text" id="text" name="text" value="Hello World! Привет мир!" size="50">

    <label for="size">Size</label>
  <input  type="number" step="0.01" id="size" name="size" value="0.3" size="5"  min="0.01" max="1">

    <label for="font">Choose font:</label>

<select name="font" id="font">
  <option value="Arial">Arial</option>
  <option value="Calibri">Calibri</option>
  <option value="Georgia">Georgia</option>
  <option value="Timesnewroman">Times New Roman</option>
    <option value="Rubikbeastly">Rubik Beastly</option>
</select>
     <input type="submit"
            value="Create Video">
    <br><br>
</form>

{% for query in queries %}
    Text: {{query.text_value }} ----
    Date: {{ query.date }} ----
    Font: {{ query.font }} ----
    Size: {{ query.size }}

  <form action="/runtest">
  <input type="hidden"
            name="text"
            value="{{ query.text_value }}">
      <input type="hidden"
            name="size"
            value="{{ query.size }}">
      <input type="hidden"
            name="font"
            value="{{ query.font }}">
     <input type="submit"
            value="Повторить запрос">
</form>
    <br>
{% endfor %}
</body>
</html>